* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #f5f1e8;
}

body {
  overflow: hidden;
}

[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #a89f91;
  pointer-events: none;
  position: absolute;
}
